# Bank Customer Churn Modeling

Bank customer churn is a measure why customers are leaving a business. In this notebook we will be looking at customer churn in this bank company. we will buidl a deep learning model to predict the churn and use precision, recall, f1 score to measure performace of our model. we will handle imbalced datset using various techniques and imporove f1 score

In [5]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

## Load the data

In [7]:
df = pd.read_csv("csvs/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [12]:
df.shape

(10000, 14)

### First of all, drop the customer id col as it is of no use

In [13]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [22]:
df.drop('CustomerId', axis='columns', inplace=True)

In [23]:
df.dtypes

RowNumber            int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [24]:
df.head()

,RowNumber,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [25]:
df.drop('Surname', axis='columns', inplace=True)
df.drop('Geography', axis='columns', inplace=True)

In [27]:
df.head()

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,619,Female,42,2,0.00,1,1,1,101348.88,1
1,2,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,699,Female,39,1,0.00,2,0,0,93826.63,0
4,5,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [28]:
df.dtypes

RowNumber            int64
CreditScore          int64
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

### Many columns have yes/no values. lets print unique values in object columns to see data values

In [29]:
def unique_col_value(df):
    for column in df:
        if df[column].dtypes=='object':
            print(f'{column}: {df[column].unique()}')

In [33]:
unique_col_value(df)

Gender: ['Female' 'Male']

Converting yes/no into 1 and 0

In [34]:
df['Gender'].replace({'Female':1, 'Male':0}, inplace=True)

In [35]:
df.Gender.unique()

array([1, 0], dtype=int64)

In [37]:
df.head(10)

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,619,1,42,2,0.00,1,1,1,101348.88,1
1,2,608,1,41,1,83807.86,1,0,1,112542.58,0
2,3,502,1,42,8,159660.80,3,1,0,113931.57,1
3,4,699,1,39,1,0.00,2,0,0,93826.63,0
4,5,850,1,43,2,125510.82,1,1,1,79084.10,0
5,6,645,0,44,8,113755.78,2,1,0,149756.71,1
6,7,822,0,50,7,0.00,2,1,1,10062.80,0
7,8,376,1,29,4,115046.74,4,1,0,119346.88,1
8,9,501,0,44,4,142051.07,2,0,1,74940.50,0
9,10,684,0,27,2,134603.88,1,1,1,71725.73,0

### Train Test Split

In [38]:
X = df.drop('Exited', axis='columns')
y = df['Exited']

In [40]:
X.head()

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,619,1,42,2,0.00,1,1,1,101348.88
1,2,608,1,41,1,83807.86,1,0,1,112542.58
2,3,502,1,42,8,159660.80,3,1,0,113931.57
3,4,699,1,39,1,0.00,2,0,0,93826.63
4,5,850,1,43,2,125510.82,1,1,1,79084.10

In [41]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=15,
                                                   stratify=y)

In [43]:
y_train.value_counts()

0    5574
1    1426
Name: Exited, dtype: int64

In [44]:
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [47]:
X_train.shape

(7000, 10)

In [46]:
y_train.shape

(7000,)

In [49]:
X_test.shape

(3000, 10)

In [50]:
y_test.shape

(3000,)

In [56]:
len(X_train.columns)

10

## Build a model in tensorflow (ANN)

In [51]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix, classification_report

In [66]:
model = keras.Sequential([
    keras.layers.Dense(7, input_dim=10, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

In [70]:
model.compile(optimizer='adagrad', loss='binary_crossentropy', metrics=['accuracy'])

In [72]:
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
219/219 [==============================] - 1s 3ms/step - loss: 0.7619 - accuracy: 0.7503
Epoch 2/100
219/219 [==============================] - 0s 2ms/step - loss: 0.7760 - accuracy: 0.7463
Epoch 3/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7293 - accuracy: 0.7504
Epoch 4/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7629 - accuracy: 0.7480
Epoch 5/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7111 - accuracy: 0.7497
Epoch 6/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7180 - accuracy: 0.7524
Epoch 7/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7089 - accuracy: 0.7573
Epoch 8/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6945 - accuracy: 0.7593
Epoch 9/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6961 - accuracy: 0.7567
Epoch 10/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7020 - accuracy: 0.7536
Epoch 11/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6831 - accuracy: 0.7581
Epoch 12/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6760 - accuracy: 0.7627
Epoch 13/100
219/219 [==============================] - 1s 2ms/step - loss: 0.7034 - accuracy: 0.7541
Epoch 14/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6888 - accuracy: 0.7569
Epoch 15/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6821 - accuracy: 0.7581
Epoch 16/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6577 - accuracy: 0.7684
Epoch 17/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6531 - accuracy: 0.7693
Epoch 18/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6674 - accuracy: 0.7621
Epoch 19/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6769 - accuracy: 0.7599
Epoch 20/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.7679
Epoch 21/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6768 - accuracy: 0.7586
Epoch 22/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6686 - accuracy: 0.7613
Epoch 23/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6670 - accuracy: 0.7626
Epoch 24/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6647 - accuracy: 0.7631
Epoch 25/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6346 - accuracy: 0.7723
Epoch 26/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6670 - accuracy: 0.7650
Epoch 27/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6617 - accuracy: 0.7604
Epoch 28/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6385 - accuracy: 0.7693
Epoch 29/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6557 - accuracy: 0.7604
Epoch 30/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6548 - accuracy: 0.7611
Epoch 31/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6554 - accuracy: 0.7644
Epoch 32/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6461 - accuracy: 0.7660
Epoch 33/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6580 - accuracy: 0.7606
Epoch 34/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6394 - accuracy: 0.7671
Epoch 35/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6446 - accuracy: 0.7649
Epoch 36/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6479 - accuracy: 0.7614
Epoch 37/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6431 - accuracy: 0.7704
Epoch 38/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6467 - accuracy: 0.7686
Epoch 39/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6299 - accuracy: 0.7707
Epoch 40/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6303 - accuracy: 0.7699
Epoch 41/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6385 - accuracy: 0.7691
Epoch 42/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6436 - accuracy: 0.7684
Epoch 43/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6348 - accuracy: 0.7686
Epoch 44/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6301 - accuracy: 0.7674
Epoch 45/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6414 - accuracy: 0.7703
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6330 - accuracy: 0.7659
Epoch 47/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6373 - accuracy: 0.7663
Epoch 48/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6386 - accuracy: 0.7679
Epoch 49/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6406 - accuracy: 0.7663
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6382 - accuracy: 0.7724
Epoch 51/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6289 - accuracy: 0.7719
Epoch 52/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6374 - accuracy: 0.7677
Epoch 53/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6282 - accuracy: 0.7691
Epoch 54/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6353 - accuracy: 0.7666
Epoch 55/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6318 - accuracy: 0.7674
Epoch 56/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6314 - accuracy: 0.7684
Epoch 57/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6368 - accuracy: 0.7641
Epoch 58/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6337 - accuracy: 0.7686
Epoch 59/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6283 - accuracy: 0.7703
Epoch 60/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6277 - accuracy: 0.7697
Epoch 61/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6309 - accuracy: 0.7694
Epoch 62/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6190 - accuracy: 0.7709
Epoch 63/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6311 - accuracy: 0.7653
Epoch 64/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6274 - accuracy: 0.7657
Epoch 65/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6344 - accuracy: 0.7679
Epoch 66/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6220 - accuracy: 0.7693
Epoch 67/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6437 - accuracy: 0.7653
Epoch 68/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6249 - accuracy: 0.7687
Epoch 69/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6356 - accuracy: 0.7643
Epoch 70/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6320 - accuracy: 0.7674
Epoch 71/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6309 - accuracy: 0.7669
Epoch 72/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6313 - accuracy: 0.7667
Epoch 73/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6261 - accuracy: 0.7697
Epoch 74/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6224 - accuracy: 0.7709
Epoch 75/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6215 - accuracy: 0.7729
Epoch 76/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6264 - accuracy: 0.7739
Epoch 77/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6255 - accuracy: 0.7687
Epoch 78/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6235 - accuracy: 0.7696
Epoch 79/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6201 - accuracy: 0.7650
Epoch 80/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6185 - accuracy: 0.7714
Epoch 81/100

219/219 [==============================] - 0s 2ms/step - loss: 0.6179 - accuracy: 0.7684
Epoch 82/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6179 - accuracy: 0.7663
Epoch 83/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6161 - accuracy: 0.7726
Epoch 84/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6242 - accuracy: 0.7713
Epoch 85/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6189 - accuracy: 0.7693
Epoch 86/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6144 - accuracy: 0.7731
Epoch 87/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6122 - accuracy: 0.7714
Epoch 88/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6249 - accuracy: 0.7663
Epoch 89/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6123 - accuracy: 0.7741
Epoch 90/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6199 - accuracy: 0.7683
Epoch 91/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6171 - accuracy: 0.7711
Epoch 92/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6253 - accuracy: 0.7640
Epoch 93/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6107 - accuracy: 0.7724
Epoch 94/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6143 - accuracy: 0.7741
Epoch 95/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6120 - accuracy: 0.7753
Epoch 96/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6197 - accuracy: 0.7710
Epoch 97/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6126 - accuracy: 0.7757
Epoch 98/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6179 - accuracy: 0.7673
Epoch 99/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6113 - accuracy: 0.7726
Epoch 100/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6073 - accuracy: 0.7741

In [73]:
model.evaluate(X_test, y_test)

94/94 [==============================] - 1s 2ms/step - loss: 0.6206 - accuracy: 0.7470

[0.6206350326538086, 0.746999979019165]

In [74]:
y_pred = model.predict(X_test)

In [75]:
y_pred[:10]

array([[0.04654232],
       [0.41165322],
       [0.69797826],
       [0.91159725],
       [0.04275388],
       [0.01341268],
       [0.18814394],
       [0.4428277 ],
       [0.13281438],
       [0.11131781]], dtype=float32)

In [77]:
y_test[:10]

9737    0
7380    0
444     1
158     0
1556    0
746     0
4768    1
2504    0
1471    0
4258    0
Name: Exited, dtype: int64

In [78]:
y_predict=[]
for e in y_pred:
    if e > 0.5:
        y_predict.append(1)
    else:
        y_predict.append(0)

In [79]:
y_predict[:10]

[0, 0, 1, 1, 0, 0, 0, 0, 0, 0]

In [80]:
y_test[:10]

9737    0
7380    0
444     1
158     0
1556    0
746     0
4768    1
2504    0
1471    0
4258    0
Name: Exited, dtype: int64

In [81]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.84      0.84      0.84      2389
           1       0.38      0.37      0.37       611

    accuracy                           0.75      3000
   macro avg       0.61      0.61      0.61      3000
weighted avg       0.75      0.75      0.75      3000